<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>Actors</h1>
<ul>
    <% @actors.each do |actor|%>
      <li>
          <ul>
            <li><a href="/actors/<%= actor["name"]%>"><%= actor["name"]%></a></li>
            

          </ul>
      </li>
    <%end%>
</ul>

    <h5><a href="/actors/new">SUBMIT NEW ARTICLE</a></h5>


    </form>
  </body>
</html>
