<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link
  </head>

  <body>
    <h1>Actors</h1>
    <h5><a href="/movies">Go to Movies</a></h5>
<ul>
    <% @actors.each do |actor|%>

      <li>
          <ul>
            <li><a href="/actors/<%= actor["actor_id"]%>"><%= actor["name"]%></a></li>
          </ul>
      </li>
    <%end%>
</ul>

    </form>

    <script src="/js/vendor/jquery-1.11.2.min.js"></script>
  <script src="/js/sprouts.js"></script>
  </body>
</html>
